.Track h3,
.Track h4,
.Track p {
  font-family: "Sofia Sans Condensed", sans-serif;
}

.Track h3 a,
.Track h3 a:visited {
  color: var(--color-5);
}

.Track p a,
.Track p a:visited,
.Track h4 a,
.Track h4 a:visited {
  color: var(--color-7);
}

.Track h3 a:hover,
.Track h4 a:hover,
.Track p a:hover {
  color: var(--color-6);
}

.Track {
  width: 99%;
  display: flex;
  justify-content: space-between;
  text-align: left;
  padding: 0.5rem 0.2rem 0.5rem 0;
  border-bottom: 1px var(--color-3) solid;
}

.TrackImg {
  display: flex;
  align-items: center;
}

.TrackImg img {
  border: 1px var(--color-3) solid;
  width: calc(2.5h + 2.5vw);
  height: calc(2.5vh + 2.5vw);
}

.Track:first-child {
  padding-top: 0;
}

.Track:last-child {
  border-bottom: none;
  padding-bottom: 0;
}

.TrackInfo {
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: left;
}

.TrackInfo p {
  font-size: 0.9rem;
}

.AddOrRemoveTrack {
  cursor: pointer;
  padding-top: 0.3rem;
  margin: 0;
  font-size: 1rem;
  transition: opacity 0.2s;
  border: 0px;
  background-color: rgba(0, 0, 0, 0);
  color: var(--color-5);
  opacity: 0;
}

.Track:hover .AddOrRemoveTrack {
  opacity: 1;
}