/* Color pallete */
:root {
  --color-1: #355E3B; /* Hunter Green - container background */
  --color-2: rgba(53, 94, 59, 0.9); /* Hunter Green with opacity */
  --color-3: #023020; /* Dark Green - border, shadows, buttons, scrollbar */
  --color-4: rgba(2, 48, 32, 0.3); /* Dark Green with opactiy - main background */
  --color-5: #93c572; /* Pistachio - accent */
  --color-6: #C1E1C1; /* Pastel Green - link hover */
  --color-7: #ffffff; /* White - font */
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

/* Fonts - Unbounded for header, Sofia Sans for app */
@import url("https://fonts.googleapis.com/css2?family=Sofia+Sans+Condensed:ital,wght@0,1..1000;1,1..1000&family=Sofia+Sans+Extra+Condensed:ital,wght@0,1..1000;1,1..1000&family=Sofia+Sans+Semi+Condensed:ital,wght@0,1..1000;1,1..1000&family=Unbounded:wght@200..900&display=swap");

body,
html,
#root {
  overflow: hidden;
  height: 100vh;
}

html {
  font-size: 18px;
  text-align: center;
}

a {
  text-decoration: none;
}

a:hover {
  color: var(--color-6);
}

.Header {
  width: 100%;
  padding: 0.5rem 0;
  background-color: var(--color-1);
  text-align: center;
  font-family: "Unbounded", sans-serif;
  font-size: 2rem;
  color: var(--color-7);
  border-bottom: 1px var(--color-3) solid;
  z-index: 3;
}

.Header .Highlight,
.Icon,
h2,
h3 {
  color: var(--color-5);
}

.Icon {
  font-size: 1.5rem;
}

.App {
  position: relative;
  min-height: 100vh;
  padding: 0 15rem;
  background-image: url("dog-with-headphones-color-extended.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  font-family: "Sofia Sans Semi Condensed", sans-serif;
  color: var(--color-7);
  z-index: 1;
}

.App::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: var(--color-4);
  z-index: -1; /* Ensure the background is behind the content */
}

.AppTracksAndPlaylist {
  position: relative;
  height: 80vh;
  display: flex;
  justify-content: space-between;
  gap: 10rem;
  z-index: 2;
}

.AppTracks,
.AppPlaylist {
  position: relative;
  width: 100%;
  padding: 1rem;
  background-color: var(--color-2);
  border: 1px var(--color-3) solid;
  z-index: 2;
}

.LogIn {
  background-color: none;
  color: var(--color-5);
  font-size: 3rem;
  text-transform: uppercase;
}

.LoggedInMessage,
.LogIn {
  padding: 1rem 0;
  text-align: center;
}

.LoggedInMessage {
  animation: fade-out 10s;
  opacity: 0;
}

.LogIn h1,
.LoggedInMessage h2 {
  text-shadow: 0 0 3px var(--color-3), 0 0 5px var(--color-3);
}

.Popup {
  position: fixed;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 1rem;
  background: var(--color-2);
  border: 1px var(--color-3) solid;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  z-index: 1000;
}

.Popup a {
  color: var(--color-5);
  font-size: 2rem;
  text-shadow: 0 0 3px var(--color-3), 0 0 5px var(--color-3);
}

.Popup a:visited {
  color: var(--color-5);
}

.Popup a:hover {
  color: var(--color-6);
}

.PopupButton {
  position: relative;
  display: flex;
  justify-content: right;
  top: -0.5rem;
  right: -0.5rem;
}

.CloseButton {
  padding: 0.2rem;
  width: fit-content;
  font-size: 0.5rem;
  cursor: pointer;
  border-width: 0px;
  background-color: var(--color-3);
  text-align: center;
  font-family: "Sofia Sans Semi Condensed", sans-serif;
  transition: background-color 0.25s;
  color: var(--color-7);
  font-weight: bold;
}

.CloseButton:hover {
  background-color: rgba(147, 197, 114, 0.5);
}

.PlaylistSaved a {
  font-size: 1.2rem;
}

.PlaylistSaved {
  margin-top: -0.5rem;
}

@keyframes fade-out {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

/* MEDIA QUERIES */
@media only screen and (min-width: 2200px) {
  html {
    font-size: 20px;
  }

  .App {
    padding: 0 20rem;
  }
}

@media only screen and (max-width: 1600px) {
  .App {
    padding: 0 10rem;
  }
}

@media only screen and (max-width: 1300px) {
  html {
    font-size: 16px;
  }

  .App {
    padding: 0 5rem;
  }
}

/* VERTICAL FLIP */
@media only screen and (max-width: 1200px) {
  .App {
    padding: 0 15rem;
  }

  .AppTracksAndPlaylist {
    flex-direction: column;
    gap: 1rem;
  }

  .AppTracks {
    height: 50vh;
    padding-bottom: 2rem;
  }

  .AppPlaylist {
    height: 30vh;
    padding-bottom: 2.5rem;
  }
}

@media only screen and (max-width: 1000px) {
  html {
    font-size: 14px;
  }

  .App {
    padding: 0 10rem;
  }
}

@media only screen and (max-width: 850px) {
  .App {
    padding: 0 5rem;
  }
}

@media only screen and (max-width: 765px) {
  html {
    font-size: 12px;
  }
}

@media only screen and (max-width: 375px) {
  html {
    font-size: 10px;
  }
}